.workshopDetailsHeader {
  max-height: 100%;
}

.workshopDetailsHeaderTextContainer {
  position: absolute;
  left: 100px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
}

.workshopDetailsScrollButton {
  position: absolute;
  bottom: 40px;
  left: 50%;
  cursor: pointer;
}

.workshopDetailsContent {
  padding: 30px 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.firstCol {
  width: 60%;
}

.secondCol {
  width: 30%;
}

.reviewCardIcon {
  transform: scaleX(-1);
  margin-right: 10px;
}

.starIcon {
  height: 30px;
  margin-right: 5px;
}

.starButton {
  cursor: pointer;
}

.carousel {
  height: 100%;
}
