.card {
  position: relative;
}
.card:hover {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(99, 99, 99, 1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(99, 99, 99, 1);
  box-shadow: 0px 0px 5px 1px rgba(99, 99, 99, 1);
  cursor: pointer;
}
.card .title {
  position: absolute;
  bottom: 50px;
  left: 10px;
  color: '#fff';
}

.card .workshop-title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  color: '#fff';
}
.card .subtitle {
  position: absolute;
  bottom: 25px;
  left: 10px;
  color: '#fff';
}
